$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;
$lightBlueColor: #66DAE9;

@function translate-media-condition($c) {
  $condMap: (
    "screen": "only screen",
    "print": "only print",
    "retina": "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi)",
    ">maxWidth": "(min-width: #{$mediaMaxWidth + 1})",
    "<maxWidth": "(max-width: #{$mediaMaxWidth})", 		
    ">bp1Width": "(min-width: #{$mediaBp1Width + 1})",
    "<bp1Width": "(max-width: #{$mediaBp1Width})",
    ">minWidth": "(min-width: #{$mediaMinWidth + 1})",
    "<minWidth": "(max-width: #{$mediaMinWidth})"
  );
  @return map-get( $condMap, $c );
}

// The mdia mixin
@mixin media($args...) {
  $query: "";
  @each $arg in $args {
    $op: "";
    @if ( $query != "" ) {
      $op: " and ";
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @media #{$query}  { @content; }
}


.section{
    padding: 10px 60px;
}


.firstSection{
    position: relative;
    min-height: 850px;
    @include media("retina", "<minWidth"){
        min-height: 1100px !important;
    }
}

/* Background Particles */

#tsparticles {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}


/* Header */

.header{
    position: fixed;
    // width: 100%;
    height: 140px;
    background: transparent;
    color: white;
    padding: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7782913849133403) 37%, rgba(0,0,0,0.9976191160057774) 100%);
    z-index: 100;
    padding: 20px 60px;
    @include media("retina", "<minWidth"){
        padding: 20px 15px;
    }
    
}
.logo{
    width: 180px;
    display: inline-block;
    @include media("retina", "<minWidth"){
        width: 120px;
    }
}

.rightMenu{
    list-style: none;
    padding: 30px 20px;
    direction: rtl;
    @include media("retina", "<minWidth"){
        padding: 20px 0px;
    }
    li{
        display: inline-block;
        padding-left: 20px;
    }
    .menutoggle{
        height: 38px;
        width: 40px;
        margin-left: 50px;
        position: relative;
        cursor: pointer;
        @include media("retina", "<minWidth"){
            margin-left: 25px;
        }
        img{
            position: absolute;
            top: 4px;
            cursor: pointer;
            @include media("retina", "<minWidth"){
                width: 45px;
            }
        }
    }
}
.drawer{
    width: 428px;
    background-color: #141414 ;
    font-size: 30px;
    padding: 0px 0px;
    .title{
        .titleChild{
            width: 100%;;
        }
        background-color: #3587E9;
        font-weight: bold;
        color: #333;
        padding:18px 40px;
        div{
            font-weight: bold;
            font-size: 30px;
            img{
                cursor: pointer;
                width: 90%;
                @include media("retina", "<minWidth"){
                    width: 110%;
                }
            }
        }
        
    }
    .drawerMenu{
        padding: 0px 26px;
        div{
            line-height: 85px;
            border-bottom: 1px solid #363636;
            cursor: pointer;
            
            &:hover{
                color: #52BAE9;
            }
            &.active{
                color: #3587E9;
            }
        }
    }
}


.button{
    min-width: 80px;
    min-height: 22px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    border-radius: 75px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    @include media("retina", "<minWidth"){
        font-size: 14px;
    }
    &.color{
        background-color: #52BAE9;
        color: #010208 !important;
    }
    &.transparent{
        border: 1px solid #52BAE9;
        color: #52BAE9 !important
    }
    &.download{
        background-color: #3587E9;
        color: white;
        height: 76px;
        width: 330px;
        margin: 0 auto;
        left: 0;
        right: 0;
        position: relative;
        margin-top: 80px;
        z-index: 10;
        img{
            position: absolute;
            width: 40px;
            left: 9%;
            top: 25%;
        }
        div{
            position: absolute;
            top: 25%;
            right: 12%;
            font-size: 20px;
        }
    }
    
}

// Banner

.banner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    padding-top: 300px;
    h2{
        font-size: 60px;
        margin-bottom: 30px;
        @include media("retina", "<minWidth"){
            font-size: 50px;
        }
    }
    span{
        font-size: 42px;
        text-shadow: #333 5px 5px 15px;
        @include media("retina", "<minWidth"){
            font-size: 36px;
        }
    }
}


.secondSection{
    position: relative;
    min-height: 400px;
    background-color: #000;
    background: linear-gradient(0deg, rgba(0,0,0,0.90) 0%, rgba(0,0,0,0.88) 100%);
    padding-top: 100px;
    @include media("retina", "<minWidth"){
        text-align: center;
        padding-top: 50px;
    }   
    .desc{
        padding-top: 160px;
        @include media("retina", "<minWidth"){
            padding-top: 50px;
        }
        
        h4{
            font-size: 38px;
            margin-bottom: 10px;
            @include media("retina", "<minWidth"){
                font-size: 34px;
                margin-bottom: 20px;
            }
        }
        span{
            font-size: 28px;
            @include media("retina", "<minWidth"){
                font-size: 24px;
            }
        }
    }
    .image{
        text-align: right;
        padding-right: 90px;
        padding-top: 30px;
        @include media("retina", "<minWidth"){
            text-align: center;
            padding: 20px 0px;
        }  
        img{
            width: 50%;
            height: auto;
            // margin-top: 10px;
            @include media("retina", "<minWidth"){
                width: 100%;
            }
        }
    }
}



.thirdSection{
    position: relative;
    min-height: 600px;
    background-color: #000;
    background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.80) 45%, rgba(0,0,0,0.90) 100%);
    text-align: center;
    padding: 160px 60px;
    @include media("retina", "<minWidth"){
        padding-bottom: 50px;
    }
    .title{
        margin-bottom: 100px;
        h1{
            font-weight: bold;
        }
    }
}

.featureBox{
    background-color:rgba(40,40,40,0.7);
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(1, 2, 8, 0.64);
    min-height: 426px;
    margin-bottom: 40px;
    padding: 40px 25px;
    .image{
        height: 140px;
        img{
            width: 40%;
            margin-bottom: 20px;    
        }
        
    }
    .title{
        font-weight: bold;
        margin-bottom: 0px;
        height: fit-content;
        font-size: 18px;
    }
    .desc{
        font-size: 13px;
        text-align: center;
        .moreBtn{
            color: #52BAE9;
            cursor: pointer;
            font-weight: bold;
        }
    }
}






.forthSection{
    text-align: center;
    background-color: #000;
    background: linear-gradient(0deg, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.80) 45%, rgba(0,0,0,0.75) 100%);
    min-height: 500px;
    padding: 80px 60px;
    @include media("retina", "<minWidth"){
        padding: 70px 30px;
    }
    .title{
        &.second{
            margin-top: 100px;
        }
        h1{
            font-weight: bold;
        }
        span{
            font-size: 28px;
            @include media("retina", "<minWidth"){
               font-size: 20px;
            }
        }
    }
    .links{
        margin-top: 65px;
        @include media("retina", "<minWidth"){
            padding: 0px 20px;
         }
        .linkRow{
            margin-bottom: 10px;
        }
        img{
            width: 50px;
            @include media("retina", "<minWidth"){
                width: 40px;
            }
        }
        .link{
            line-height: 46px;
            @include media("retina", "<minWidth"){
                line-height: 40px;
                padding-right: 0px;
                padding-left: 20px;
             }
            span{
                font-weight: bold;
                @include media("retina", "<minWidth"){
                    display: block;
                   
                 }
            }
            a{
                font-weight: normal;
                text-decoration: none;
                color: #52BAE9;
            }
        }
    }
    .tokenomics{
        border: 2px solid #52BAE9;
        box-sizing: border-box;
        border-radius: 74px;
        padding: 20px 10px;
        margin-top: 30px;
        @include media("retina", "<minWidth"){
            padding: 20px 5px;
        }
        .data{
            position: relative;
            @include media("retina", "<minWidth"){
                margin-bottom: 10px;
            }
            &:first-child{
                div{
                    right: -5px;
                }
            }
            &:nth-child(2){
                div{
                    right: -5px;
                }
            }
            &:last-child{
                    @include media("retina", "<minWidth"){
                        margin-bottom: 0px;
                    }
            }
            span{
                font-size: 24px;
                &:first-child{
                    font-weight: bold;
                }
                @include media("retina", "<minWidth"){
                    font-size: 20px;
                }
            }
            div{
                width: 15px;
                height: 15px;
                background-color: #52BAE9;
                border-radius: 100%;
                position: absolute;
                right: 0;
                bottom: 11px;
                @include media("retina", "<minWidth"){
                    display: none;
                }
            }
        }
    }

    .chart{
        margin-top: 80px;
        img{
            width: 50%;
            @include media("retina", "<minWidth"){
                width: 100%;
             }
        }
    }
    .utility{
        border: 2px solid #52BAE9;
        box-sizing: border-box;
        border-radius: 60px;
        padding: 60px 60px;
        text-align: left;
        margin-top: 180px;
        margin-bottom: 50px;
        

        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        @include media("retina", "<minWidth"){
            padding: 40px 10px;
            background: none !important;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 10px;
        }
        .title{
            margin-bottom: 30px;
            
            h2{
                font-weight: bold;
                font-size: 50px;
                @include media("retina", "<minWidth"){
                    font-size: 40px;
                }
            }
        }
        .desc{
            font-size: 24px;
            @include media("retina", "<minWidth"){
                font-size: 20px;
                text-align: center;
            }
        }
        .moreBtn{
            text-align: left;
            margin-top: -50px;
            @include media("retina", "<minWidth"){
                text-align: center;
                margin-top: 30px;
            }
            .button{
                margin-left: 0px;
                width: 280px;
                height: 64px;
                line-height: 62px;
                @include media("retina", "<minWidth"){
                    margin: 0 auto;
                }
            }
        }
    }
}

.fifthSection{
    text-align: center;
    background-color: #000;
    background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.80) 45%, rgba(0,0,0,0.95) 100%);
    min-height: 500px;
    padding: 80px 60px;
    @include media("retina", "<minWidth"){
        padding: 20px 60px;
    }
    .map{
        margin-top: 60px;
        @include media("retina", "<minWidth"){
            display: none;
        }
        img{
            width: 75%;
            @include media("retina", "<minWidth"){
                width: 100%;
            }
        }
    }
    .carousel{
        margin-top: 140px;
        margin-bottom: 160px;
        @include media("retina", "<minWidth"){
            margin-bottom: 60px;
        }
        .logo{
            width: 120px;
            height: 120px;
            // border: 1px solid #3587E9;
            border-radius: 100%;
            text-align: center;
            line-height: 130px;
            background: rgba($color: #fff, $alpha: 0.8);
            img{
                width: 80%;
            }
        }
    }
}

.footer{
    min-height: 100px;
    background-color: #000;
    // background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 20%, rgba(0,0,0,0.55) 65%, rgba(0,0,0,0.75) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.75) 100%);
    padding: 80px 60px;
    padding-bottom: 10px;
    .logoWrapper{
        margin-bottom: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid #000;
        img{
            @include media("retina", "<minWidth"){
                width: 100%;
            }
        }
    }
    .footerInfo{
        font-size: 20px;
        p{
            width: 80%;
            @include media("retina", "<minWidth"){
                width: 100%;
                text-align: center;
            }
        }
    }
    .footerWrapper{
        min-height: 300px;
        .footerLinks{
            .footerColumn{
                .footerTitle{
                    font-weight: bold;
                }
            }
        }
    }
    .copyRight{
        // @include media("retina", "<minWidth"){
            text-align: center;
        // }
        span{
            font-size: 12px ;
        }
    }
    
}

.token-parent-container {
    @media (max-width: 768px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.token-section{
    position: relative;
    background-color: #000;
    background: linear-gradient(0deg, rgba(0,0,0,0.90) 0%, rgba(0,0,0,0.88) 100%);
    text-align: left;
    padding: 160px 60px;
    @media (max-width: 768px) {
        padding: 160px 12px;
    }
    @include media("retina", "<minWidth"){
        padding-bottom: 50px;
    }
    .title{
        text-align: center;
        margin-bottom: 100px;
        h1{
            font-weight: bold;
        }
    }
}

.token-section-image {
    position: absolute;
    top: 159px;
    right: 220px;    
    background-image: url(../img/tokenSection/commercialtrans.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40%;
    height: 90%;
    z-index: 0;
    opacity: 0.45;
    @media (max-width: 768px) {
        top: -50px;
        right: 35px; 
        position: relative;
        width: 100%;
        height: 200px;
    }
}

.light-blue-color {
    color: #{$lightBlueColor};
}

.arrow {
    border: 3px solid #{$lightBlueColor};
    border-radius: 50px;
    width: 80px;
    height: 80px;
    top: 60px;
    @media (max-width: 768px) {
        display: none;
     }
}

.member-arrow {
    border-radius: 50px;
    width: 80px;
    height: 80px;
    top: 60px;
    @media (max-width: 768px) {
        display: none;
     }
}


.prev-arrow {
    left: -25px;
}

.token-slider-container {
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @media (max-width: 1024px) {
        height: 100%;        
    }
}

.slider-title-container {
    border-bottom: 3px solid #{$lightBlueColor};
    margin-bottom: 20px;
}

.token-slider-item-text {
    font-size: 24px;
    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.partner-part {
    position: relative;
}

.partner-header-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 40px;
    @media (min-width: 768px) {
        margin-right: 60px;        
    }
}

.partner-card {
    background: #141414;    
    padding: 15px;
    border-radius: 10px;
    opacity: 0.75;   
    @media (min-width: 767px) {
        margin-bottom: -120px;       
    }
}

.partner-card-image {
    text-align: left;
    margin-bottom: 15px;
    & .logo {
        width: 50% !important;
    }
}

.partner-card-contianer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.partner-card-text {
    font-size: 24px;
    color: 20px;
}

.team-section-container {
    margin-top: 120px;
    @media (max-width: 768px) {
        margin-top: 240px
    }
}

.team-section-title {
    margin-bottom: 90px;
}

.partner-card-bold-text {
    color: #ffff;
    font-weight: bold;
    font-size: 24px;
}

.team-member-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-member-img {
    margin: 0 auto;
    width: 70% !important;
    margin-bottom: 10px;
}

.team-member-name {
    & .member-name {
    color: #{$lightBlueColor};
    font-weight: bold;
    font-size: 22px;
    }
}

.team-member-position{
    & .member-position {
    color: #ffff;    
    font-size: 18px;
    }
}

.member-arrow {
    border-radius: 50px;
    width: 80px;
    height: 80px;
    top: 160px;
}

.member-prev-arrow {
    left: -25px;
}

.mt90px {
    margin-top: 90px;
}

.mt60px {
    margin-top: 60px;
}

.mt20px {
    margin-top: 20px;
}

.contact-us-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.contact-us-card {   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 3px solid #{$lightBlueColor};
    border-radius: 10px;
    padding: 20px;
    min-width: 400px;
    min-height: 200px;
}

.contact-us-text-div {
    text-align: start !important;
    & span{ 
        cursor: pointer
    }
}

.email-link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    :hover {
        color: #{$lightBlueColor};
        text-decoration: none;
    };
    :active {
        color: #fff;
        text-decoration: none;
    }
    :visited {
        color: #fff;
        text-decoration: none;
    }

}
